@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto w-[30%] ;
}
*{
   font-family: "Gabarito", sans-serif;
}